{% extends "base.html" %}

<body>
{% block content%}
    <form class="blog-form" method="POST">
        <div class="form-title">Login Form</div>
            <label for="email">email</label>
            <input type = "text" id="content" name="email" required>

            <label for="password">Password</label>
            <input type = "text" id="content" name="password" required>

            <button type="submit">Login</button>
            <a href="{{ url_for('register') }}">Dont have account ?</a>
    </form>
{% endblock %}
</body>


