{% extends "base.html" %}


<body>
    {% block content %}

        <div class="container">
<div>
            {% if current_user.is_authenticated and userprofile%}   
                 <!-- Profile Section -->
<div class="profile-card">
  <div class="profile-header">
    <img
      src="{{ url_for('static', filename='pfp.jpg') }}"
      alt="User profile"
      class="profile-img"
    />
  </div>

  <div class="profile-body">
    <h2 class="profile-name">{{ userprofile.name }}</h2>
    <p class="profile-username"> {{ userprofile.email }} </p>
    <p class="profile-bio">
        {{ userprofile.bio }}
      
    </p>
  </div>
</div>
{% endif %}
</div>

<div>
        
        <div class="posts">
            {% for post in posts %}
            <div class="post_content">

                <h3 class="author_date">{{ post.author.username }} |<span class="date">{{ post.date }}</span>
                    {% if post.author == current_user %}
                        <span>
                            <div id="dropdown" class="dropdown">
                                <button class="dropbtn"><img src="static/dots-removebg-preview.png" alt="image" width="20px" height="20px"   ></button>
                <div class="dropdown-content">
                                    <a href="{{ url_for('blog.update', post_id=post.id) }}">Update</a>
                                    <a href="{{ url_for('blog.delete', post_id=post.id) }}">Delete</a>
                                </div>
                            </div>
                        </span>
                    {% endif %}
                </h3>
                </h3>
                <h2 class="post_title"><a href="{{ url_for('blog.get_full_blog', post_id=post.id) }}"> {{ post.title }} </a> </h2>
                <p class="description">{{ post.content }}</p>

            </div>
            {% endfor %}


        </div>
    </div>
    </div>
    
    {% endblock %}

    

</body>